<!DOCTYPE html>
<html>
<head>
	<meta id="viewport" name="viewport" content="width=device-width, user-scalable=no">
	<meta charset="utf-8">
	<title>Adopt-pett</title>
	<link rel="stylesheet" type="text/css" href="application.css">
</head>
<body>
	<div class="topo">
		<div class="topoint">
			<div  class="topoleft">
				<div class="logo">logo</div>
			</div>
			<div class="toporight">
				<input type="search" name="busca" class="busca" placeholder="Search..."/>
				<input type="image" src="/busca.fw.png" border="0" width="28" height="28" />
				<div class="logado">logado</div>
			</div>
		</div>
	</div>
</body>
</html>
